.markdown-here-wrapper {
    font-size: 16px;
    padding: 0 20px;
    background-color: #E7ECEB;
}


/* Use Roman numerals for sub-ordered-lists. (Like Github.) */
ol ol, ul ol {
  list-style-type: lower-alpha;
}

/* Use letters for sub-sub-ordered lists. (Like Github.) */
ul ul ol, ul ol ol, ol ul ol, ol ol ol {
  list-style-type: lower-roman;
}

table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  font: inherit;
  border: 0;
}

tbody {
  margin: 0;
  padding: 0;
  border: 0;
}

table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

table tr th, table tr td {
  font-size: 1em;
  border: 1px solid #CCC;
  margin: 0;
  padding: 0.5em 1em;
}

table tr th {
 font-weight: bold;
  background-color: #F0F0F0;
}

/* Only use H3's for posting info for absent students */

h3 { 
  background-color: #EFE9E1;
  color: #D2523C;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
}

h3 + p, h3 + ol, h3 + ul, h3 + p + p, h3 + ol + p, h3 + ul + p { 
  background-color: #EFE9E1;
  margin-top: 0;
  font-size: 1em;
}